@namespace epub "http://www.idpf.org/2007/ops";

body{
margin-left:1em;
margin-right:1em;
}
a{
text-decoration:none;
}
.a1{
text-decoration:underline;
}
/* ====== CHARACTER LEVEL STYLES ====== */
span.underline{
text-decoration:underline;
text-indent:0em;
text-align:justify;
}
span.strike{
text-decoration:line-through;
text-indent:0em;
text-align:justify;
}
span.nonitalic{
font-style:normal;
text-indent:0em;
text-align:justify;
}
span.smallcaps1{
font-size:0.6rem;
text-indent:0em;
text-align:justify;
}
span.smallcaps{
font-size:0.75rem;
text-indent:0em;
text-align:justify;
}
span.smallcaps_italic_hd{
font-size:0.6rem;
font-style:italic;
text-indent:0em;
text-align:justify;
}
span.dropcap
{
font-weight:bold;
line-height:0.8em;
font-size:1.5rem;
}
span.dropcap_bold{
font-size:1.5rem;
font-weight:bold;
line-height:0.8em;
text-indent:0em;
text-align:justify;
}
span.dropcap_bold_italic{
font-size:1.5rem;
font-weight:bold;
font-style:italic;
line-height:0.8em;
text-indent:0em;
text-align:justify;
}
span.dropcap_italic{
font-size:1.5rem;
line-height:0.8em;
font-style:italic;
text-indent:0em;
text-align:justify;
}
span.smallcapsbold{
font-size:0.75rem;
font-weight:bold;
text-indent:0em;
text-align:justify;
}
span.smallcaps_bold{
font-size:0.75rem;
font-weight:bold;
text-indent:0em;
text-align:justify;
}
span.smallcapsitalic{
font-size:0.75rem;
font-style:italic;
font-weight:bold;
text-indent:0em;
text-align:justify;
}
span.bolditalic{
font-weight:bold;
font-style:italic;
text-indent:0em;
text-align:justify;
}
/* ====== FRONT MATTER STYLES ====== */

.fmh{
font-size:1.2rem;
margin-top:3em;
margin-bottom:2em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.copy_blsp{
font-size:0.75rem;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.image
{
font-size:0.88rem;
margin-top:1.5em;
margin-bottom:1.5em;
text-indent:0em;
text-align:center;
}

/* ====== BODY MATTER STYLES ====== */

.part_num{
font-size:0.88rem;
margin-top:3em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.part_ttl{
font-size:1.5rem;
margin-top:0em;
margin-bottom:0.5em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.part_subttl{
font-size:1.2rem;
margin-top:0em;
margin-bottom:3em;
text-align:center;
font-weight:bold;
text-indent:0em;
}
.bm_a{
font-size:0.88rem;
margin-top:0em;
margin-bottom:1em;
text-align:center;
font-weight:bold;
text-indent:0em;
}
.a_hd{
font-size:0.88rem;
margin-top:1.5em;
margin-bottom:0em;
text-align:center;
font-weight:bold;
text-indent:0em;
}
.noindent{
font-size:0.88rem;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:justify;
}
.indent{
font-size:0.88rem;
margin-top:0em;
margin-bottom:0em;
text-indent:1.5em;
text-align:justify;
}
.int_tpsp{
font-size:0.88rem;
margin-top:1em;
margin-bottom:0em;
text-indent:1.5em;
text-align:justify;
}
.int_blsp{
font-size:0.88rem;
margin-top:0em;
margin-bottom:1em;
text-indent:1.5em;
text-align:justify;
}
.spacebreak{
font-size:0.88rem;
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:justify;
}
.num_list{
font-size:0.88rem;
margin-top:0em;
margin-bottom:0em;
margin-left:3.8em;
text-indent:-1.5em;
text-align:justify;
}
.num_list88888
{
font-size:0.88rem;
margin-top:0em;
margin-bottom:0em;
margin-left:3.3em;
text-indent:-1.5em;
text-align:justify;
}
.notes_noind{
font-size:0.75rem;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
}
.notes_noind_9999
{
font-size:0.75rem;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:justify;
}

.notes_a{
font-size:0.75rem;
margin-top:1.5em;
margin-bottom:.5em;
text-indent:0em;
text-align:justify;
}
.notes
{
font-size:0.75rem;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
text-align:justify;
}
.notes_1
{
font-size:0.75rem;
margin-top:0em;
margin-bottom:0em;
margin-left:1.6em;
text-indent:-1.6em;
text-align:justify;
}
.notes_2
{
font-size:0.75rem;
margin-top:0em;
margin-bottom:0em;
margin-left:1.6em;
text-indent:-1.6em;
text-align:justify;
}
.bib{
font-size:0.75rem;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:-1.5em;
text-align:justify;
}
.index{
font-size:0.75rem;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:-1.5em;
text-align:justify;
}
.index_01
{
font-size:0.75rem;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:justify;
}
.index_ind{
font-size:0.75rem;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
text-indent:-1.5em;
text-align:justify;
}
.index_tpsp{
font-size:0.75rem;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:-1.5em;
text-align:justify;
}

/* ====== BACK MATTER STYLES ====== */

.abt_athr{
font-size:0.88rem;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
}
.credits{
font-size:0.75rem;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.atp_f{
font-size:0.88rem;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.atp_web{
font-size:0.88rem;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.hide
{
display: none;
}
/*.right_1
{
font-size: 0.75rem;
padding:0.5em;
float:right;
}
span[epub|type~='pagebreak'] {
text-indent: 0em;
text-align:center;
padding:0.1em 0.3em;
}
*/
ul.none {
list-style-type:none;
font-size: 1rem;
}
nav#toc ol
{
	list-style-type: none;
	margin-left:0em;
	margin-bottom:0em;
	padding:0em;
}
nav#toc ol li
{
	font-size: 0.88rem;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	padding:0em;
}
/**/
*[hidden]
{
display:none;
}
.hide1
{
display:none;
}
 